body {
  width: 1440px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
  font-family: 'Roboto', Arial, sans-serif;
}

.main-title,
.slider-item strong {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.contact-title,
.about-us p:first-of-type  {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.advantage-sait-title,
.advantage-app-title,
.advantage-presentation-title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;

  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  display: block;
  width: 400px;
  height: 50px;

  font: inherit;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 2px;
  border: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.top-wrapper {
  background-color: #eeeeee;
}

.centring-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
}

.main-header-logo {
  margin-right: 200px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 800px;
  margin-top: 11px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  display: block;
  margin-right: 47px;

  font: inherit;
  line-height: 35px;
  font-weight: 500;
  color: #000000;
}

.site-navigation {
  display: flex;
}

.site-navigation-current a {
  border-bottom: 2px solid #fb565a;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;

  outline: none;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .user-basket {
  position: relative;

  display: block;
  margin: 0;
  padding: 2px;
}

.user-basket::before {
  position: absolute;
  top: calc(50% - 8px);
  left: -40px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");

  content: "";
}

.slider-main {
  position: relative;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  margin-right: 33px;
  border-bottom: 1px solid transparent;
}

.slider-item strong {
  display: block;
  width: 380px;
  padding-top: 56px;
}

.slider-item p:last-of-type {
  display: block;
  width: 400px;
  margin-top: 25px;
}

.slider .slider-item:first-child {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider .slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider .slider-item:last-child {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: right;
}

.slider-item .btn {
  width: 240px;
  margin-bottom: 80px;
  margin-top: 40px;
}

.slider-item .btn:hover,
.slider-item .btn:focus {
  background-color: #e74246;
  outline: none;
}

.slider-item .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.slider-controls {
  position: absolute;
  left: calc(50% - 35px);
  bottom: 95px;
  width: 70px;
}

.advantages {
  padding: 0;
}

.advantages-items {
  display: flex;
  width: 1130px;
  margin: 80px 0;
  padding: 0;
  justify-content: flex-start;
}

.advantage-item {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 100px;

  list-style: none;
}

.advantages-items .advantage-item:first-child {
  margin-left: 0;
}

.advantage-item img {
  margin-bottom: 18px;
}

.advantage-item p {
  width: 255px;
}

.advantages .btn {
  width: 160px;
  margin: 31px 0 0;
}

.site-development .btn:hover,
.site-development .btn:focus {
  background-color: #e74246;
  outline: none;
}

.site-development .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.app-development .btn {
  background-color: #00ca74;
}

.app-development .btn:hover,
.app-development .btn:focus {
  background-color: #00bc6c;
}

.app-development .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.presentation-development .btn {
  background-color: #efc849;
}

.presentation-development .btn:hover,
.presentation-development .btn:focus {
  background-color: #eab534;
}

.presentation-development .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.about-us-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 525px;
  margin: 0 auto;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.about-us p {
  display: block;
  margin: 0;
  padding: 0;
}

.about-us ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us .about-us-features {
  margin-top: 23px;
  padding-left: 36px;
}

.about-us-features li {
	position: relative;
  margin-bottom: 25px;
}

.about-us-features li::before {
  content: "";
  position: absolute;
	top: calc(50% - 1px);
	left: -35px;
	width: 25px;
	height: 2px;
  
  background-color: #fb565a;
}

.about-us p:first-of-type {
  width: 700px;
  margin-top: 75px;
  margin-bottom: 33px;
}

.about-us p:nth-of-type(2) {
  width: 650px;
  margin-bottom: 38px;
}

.about-us p:nth-of-type(3),
.about-us p:nth-of-type(4) {
  text-transform: uppercase;
}

.about-us-wrapper > img {
  align-self: flex-end;
  margin: 40px 2px 37px 0;
}

.about-us p:nth-of-type(4) {
  align-self: flex-end;
  margin-right: 15px;
  margin-bottom: 30px;
}

.about-us table{
  align-self: flex-end;

  margin-right: 13px;

  word-wrap: break-word;
}

.about-us td {
  width: 100px;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 17px;
}

.about-us tr:first-child {
  font-size: 45px;
  font-weight: bold;
}

.about-us span {
  font-size: 25px;
  vertical-align: super;
}

.about-us tr:last-child {
  line-height: 18px;
}

.our-partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
}

.our-partners li {
		position: relative;
}

.our-partners a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 178px;

  opacity: 0.2;
}

.our-partners a:hover,
.our-partners a:focus {
  opacity: 1;
  outline: none;
}

.our-partners a:active {
  opacity: 0.1;
}

.our-partners li:nth-of-type(n+2)::before {
  content: "";

  position: absolute;
	top: calc(50% - 25px);
	left: -20px;
		
	width: 2px;
  height: 50px;

  background-color: #eeeeee;
}

.address {
  position: relative;
  width: 1440px;
  height: 416px;
  margin-top: 80px;

  background-color: #eeeeee;
  background-image: url("../img/map-marker.png"),
										url("../img/map.png");
	background-repeat: no-repeat;
	background-position: 68% 39%;
  border-top: 1px solid transparent;
}

.our-address {
  position: absolute;
  top: 55px;
  left: 140px;

  width: 319px;
  height: 307px;
  padding: 0 50px;

  line-height: 18px;
  color: #666666;

  background-color: #ffffff;
  box-sizing: border-box;
}

.our-address strong {
  display: block;
  margin-top: 49px;
}

.our-address p:first-of-type {
  margin-top: 0;
  margin-bottom: 24px;
}

.our-address p:nth-of-type(2) {
  padding-right: 10px;
}

.our-address p:last-of-type {
  margin-top: 17px;
  margin-bottom: 37px;
}

.our-address strong,
.filter legend,
.sorting b,
.hover-info span {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.our-address .btn {
  width: 219px;
  margin: 0;
}

/*
.marker {
  position: absolute;
  top: 90px;
  left: 820px;
	
	width: 231px;
	height: 190px;
	
	background-image: url("../img/map-marker.png");
}
*/

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social ul {
  display: flex;
  margin: 0;
  margin-top: 69px;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.social-icon {
  padding: 0;
}

.social-icon a {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 10px;

  text-align: center;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-icon:last-of-type a {
  margin-right: 0;
}

.social-icon img {
  margin-top: calc(50% - 11px);
}

.social-icon:first-of-type img {
  margin-top: calc(50% - 7px);
}

.social-icon:last-of-type img {
  margin-top: calc(50% - 10px);
}

.social-icon a:hover,
.social-icon a:focus {
  background-color: #e74246;
  outline: none;
}

.social-icon a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.social-icon:active img {
  opacity: 0.3;
}

.social-offer {
  margin-left: 139px;
}

.social p {
  display: block;
  margin: 0;
  line-height: 22px;
}

.social b {
  display: block;
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.modal-contact-us {
  position: relative;
  width: 960px;
  height: 590px;
  padding: 30px 90px 84px;
  box-sizing: border-box;
}

.modal-contact-us p {
  margin: 0;
  padding: 0;
}

.input-name,
.input-email {
  display: inline-block;
}

.input-email {
  margin-left: 30px;
}

.input-message {
  margin-top: 36px;
}

.modal label {
  line-height: 18px;
  font-weight: bold;
}

.modal input {
  width: 360px;
  height: 48px;
  margin: 0;
  padding: 0;
  margin-top: 2px;

  font: inherit;
  line-height: 18px;

  border-radius: 2px;
  border: 2px solid #d7dcde;
  opacity: 0.5;
}

.modal textarea {
  width: 760px;

  font-family: inherit;
  line-height: 18px;
  color: #d7dcde;

  border-radius: 2px;
  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
  color: #b4b9bb;

  border-color: #b4b9bb;
  opacity: 1;
}

.modal input:focus,
.modal textarea:focus {
  color: #000000;

  border-color: #000000;
  outline: none;
}

.modal input:focus::placeholder {
  color: #000000;
}

.modal input:invalid,
.modal textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}

.modal .btn {
  width: 260px;
  margin-top: 43px;

  font-family: inherit;
  line-height: 18px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  outline: none;
}

.modal-close:active {
  opacity: 0.1;
}

.main-title {
  margin: 0 auto;
  margin-top: 72px;
  padding-bottom: 107px;
  text-align: center;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 55px;
  margin-bottom: -22px;
}

.filter {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.price-block {
  margin-bottom: 54px;
}

.price-area {
  position: relative;
  width: 260px;
  height: 80px;
  margin-top: 49px;
  margin-bottom: 14px;

  background-color: #eeeeee;
  border-radius: 2px;
}

.price-area::before {
  position: absolute;
  top: calc(50% - 2px);
  left: 28px;

  width: 211px;
  height: 0;

  border-top: 2px solid #d7dcde;
  content: ""
}

.price-area::after {
  position: absolute;
  top: calc(50% - 2px);
  left: 28px;

  width: 142px;
  height: 0;

  border-top: 2px solid #00ca74;
  content: ""
}

.min-price-button {
  position: absolute;
  top: calc(50% - 12px);
  left: 17px;

  z-index: 1;
}

.max-price-button {
  position: absolute;
  top: calc(50% - 13px);
  left: 159px;

  z-index: 1;
}

.price-block input {
  width: 78px;
  height: 36px;
  margin-left: 12px;
  margin-right: 25px;

  text-align: center;

  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.price-block input:last-child {
  margin-right: 0;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 34px;
  list-style: none;
}

.filter li {
  margin-bottom: 18px;
}

.filter {
  line-height: 22px;
}

.filter fieldset:last-of-type {
  margin-top: 25px;
}

.filter label {
  position: relative;

  cursor: pointer;
}

.filter input[type="radio"] ~ label::before {
  position: absolute;
  top: -5px;
  left: -35px;
  z-index: 1;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  content: "";
}

.filter input[type="radio"]:checked ~ label::before {
  background-image: url("../img/radio-on.svg");
}

.filter input[type="radio"] ~ label:hover::before,
.filter input[type="radio"] ~ label:focus::before {
  opacity: 1;
}

.filter input[type="radio"]:disabled ~ label::before {
  opacity: 0.1;
}

.filter input[type="radio"]:disabled ~ label {
  opacity: 0.3;
}

.filter input[type="checkbox"] ~ label::before {
  position: absolute;
  top: -2px;
  left: -35px;
  z-index: 1;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  content: "";
}

.filter input[type="checkbox"]:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter input[type="checkbox"] ~ label:hover::before,
.filter input[type="checkbox"] ~ label:focus::before {
  opacity: 1;
}

.filter input[type="checkbox"]:disabled ~ label::before {
  opacity: 0.1;
}

.filter input[type="checkbox"]:disabled ~ label {
  opacity: 0.3;
}


.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.filter-button {
  width: 260px;
  margin-top: 30px;

  background-color: #eeeeee;
  line-height: 18px;
  color: #000000;
  font-weight: 500;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filters .filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
}

.sorting p {
  margin: 0;
  line-height: 18px;
}

.sorting-items {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

/*
.sorting-items img {
  opacity: 0.2;
}
*/

.sorting-items li{
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  opacity: 0.3;
}

.sorting-items li:first-of-type,
.sorting-items li:nth-of-type(2) {
  margin-right: 26px;
}

.sorting-down {
	display: block;
  margin-left: 48px;
	width: 11px;
	height: 10px;
	
	background-image: url("../img/icon-down-dir.svg");
	opacity: 0.2;
}

.sorting-up {
	display: block;
  margin-left: 18px;
	width: 11px;
	height: 10px;
	
	background-image: url("../img/icon-up-dir.svg");
	opacity: 0.2;
}

.sorting-items .sorting-item-active,
.sorting-items li:active,
.sorting-items a:active {
  opacity: 1;
  color: #000000;
}

.sorting-items li:hover,
.sorting-items li:focus{
  opacity: 0.6;
}

.catalog-list {
  position: relative;

  display: flex;
  width: 760px;
  margin-top: 23px;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.catalog-item::before {
  position: absolute;
  top: -39px;

  width: 360px;
  height: 40px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  content: "";
}

.catalog-item {
  position: relative;

  margin-top: 66px;
}

.hover-info {
  position: absolute;
  bottom: 0;

  width: 360px;

  text-align: center;

  background-color: #eeeeee;
  visibility: hidden;
}

.hover-info a:first-of-type {
  display: block;
  padding-top: 35px;

  font: inherit;
}

.hover-info p {
  display:block;
  width: 239px;
  margin: auto;
  margin-top: 20px;

  line-height: 18px;
  color: #666666;
  white-space: pre-wrap;
}

.hover-info .btn {
  width: 200px;
  margin: 30px auto 43px;
}

.hover-info .btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px #cfcfcf;
}

.catalog-item:hover .hover-info {
  visibility: visible;
}

.catalog-item:hover::before {
  opacity: 1;
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-top: 55px;
  padding: 0;
  list-style: none;
}

.pagination-list a {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 11px;

  font: inherit;
  line-height: 50px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
  border-radius: 2px;
}

.pagination-item-last a {
  width: 260px;
}

.pagination-item-current a {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.modal-contact-us {
  width: 960px;
  height: 590px;
}
