body {
	min-width: 1440px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;
}

.main-title,
.slider-item strong {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.contact-title,
.inner-column:first-of-type p:first-of-type {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.advantage-sait-title,
.advantage-app-title,
.advantage-presentation-title {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}


/*
img {
	width: 100%;
	height: auto;
}
*/

.btn {
	display: block;
	width: 400px;
	height: 50px;
	font: inherit;
	line-height: 50px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	background-color: #fb565a;
	border-radius: 2px;
	border: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.top-wrapper {
	background-color: #eeeeee;
}

.centring-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 52px;
}

.main-header-logo {
	margin-right: 200px;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	width: 800px;
	margin-top: 11px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation a {
	display: block;
	margin-right: 47px;
	font: inherit;
	line-height: 35px;
	font-weight: 500;
	color: #000000;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.site-navigation li {
	position: relative
}

.site-navigation-current a:after {
	content: "";
	position: absolute;
	right: 47px;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: #fb565a;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #fb565a;
	outline: none;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation .user-basket {
	position: relative;
	display: block;
	margin: 0;
	padding: 2px;
}

.user-basket::before {
	position: absolute;
	top: calc(50% - 8px);
	left: -40px;
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	content: "";
}

.site-navigation-current.user-basket:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: -40px;
	height: 2px;
	background-color: #fb565a;
}

.slider-main {
	position: relative;
	width: 1160px;
	min-height: 400px;
}

.slider-main>input {
	display: none;
}

.slider {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: none;
	position: relative;
	width: 1160px;
	min-height: 400px;
	border-bottom: 1px solid transparent;
}

#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3 {
	display: block;
}

.slider-item strong {
	display: block;
	width: 535px;
	padding-top: 56px;
}

.slider-item p:last-of-type {
	display: block;
	width: 420px;
	margin-top: 25px;
}

.slider .slider-item:first-of-type {
	background-color: #eeeeee;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 430px 10px;
}

.slider .slider-item:nth-child(2) {
	background-color: #eeeeee;
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: right 5px;
}

.slider .slider-item:last-child {
	background-color: #eeeeee;
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: right;
}

.slider-item .btn {
	width: 240px;
	margin-bottom: 80px;
	margin-top: 40px;
}

.slider-item .btn:hover,
.slider-item .btn:focus {
	background-color: #e74246;
	outline: none;
}

.slider-item .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.slider-controls {
	position: absolute;
	left: calc(50% - 42px);
	bottom: 97px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 5;
}

.slider-controls label {
	position: relative;
	margin-right: 15px;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	background-image: url("../img/slider-button.png");
	background-repeat: no-repeat;
	content: "";
}

#slide1:checked~.slider-controls label:first-of-type,
#slide2:checked~.slider-controls label:nth-of-type(2),
#slide3:checked~.slider-controls label:nth-of-type(3),
.slider-main label:hover {
	background-image: url("../img/active-slider-button.png"), url("../img/slider-button.png");
	background-position: 50% 50%;
}

.advantages {
	padding: 0;
}

.advantages-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1130px;
	margin: 80px 0;
	padding: 0;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.advantage-item {
	width: 300px;
	margin: 0;
	padding: 0;
	margin-left: 100px;
	list-style: none;
}

.advantages-items .advantage-item:nth-child(3n+1) {
	margin-left: 0;
}

.advantage-item img {
	margin-bottom: 18px;
}

.advantage-item p {
	width: 255px;
}

.advantages .btn {
	width: 160px;
	margin: 31px 0 0;
}

.site-development .btn:hover,
.site-development .btn:focus {
	background-color: #e74246;
	outline: none;
}

.site-development .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.app-development .btn {
	background-color: #00ca74;
}

.app-development .btn:hover,
.app-development .btn:focus {
	background-color: #00bc6c;
}

.app-development .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	-webkit-box-shadow: inset 0 3px 0 0 #009958;
	box-shadow: inset 0 3px 0 0 #009958;
}

.presentation-development .btn {
	background-color: #efc849;
}

.presentation-development .btn:hover,
.presentation-development .btn:focus {
	background-color: #eab534;
}

.presentation-development .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	-webkit-box-shadow: inset 0 3px 0 0 #ce961f;
	box-shadow: inset 0 3px 0 0 #ce961f;
}

.about-us-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.inner-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 48px;
}

.inner-column:last-of-type {
	justify-content: flex-start;
	align-items: flex-end;
	flex-grow: 1;
}

.about-us p {
	display: block;
	margin: 0;
	padding: 0;
}

.about-us ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us .about-us-features {
	margin-top: 23px;
	padding-left: 36px;
}

.about-us-features li {
	position: relative;
	margin-bottom: 25px;
}

.about-us-features li::before {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: -35px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.inner-column:first-of-type p:first-of-type {
	width: 700px;
	margin-top: 75px;
	margin-bottom: 33px;
}

.about-us p:nth-of-type(2) {
	width: 650px;
	margin-bottom: 38px;
}

.about-us p:nth-of-type(3),
.inner-column:nth-of-type(2) p {
	text-transform: uppercase;
}

.about-us-wrapper img {
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 40px 2px 37px 0;
}

.inner-column:nth-of-type(2) p {
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-right: 15px;
	margin-bottom: 30px;
}

.about-us table {
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-right: 13px;
	word-wrap: break-word;
}

.about-us td {
	width: 100px;
	padding: 0;
	margin: 0;
	padding-top: 11px;
	padding-bottom: 15px;
	padding-left: 17px;
}

.about-us tr:first-child {
	font-size: 45px;
	font-weight: bold;
}

.about-us span {
	font-size: 25px;
	vertical-align: super;
}

.about-us tr:last-child {
	line-height: 18px;
}

.our-partners {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #eeeeee;
}

.our-partners li {
	position: relative;
}

.our-partners img {
	margin: 0;
	margin-top: 5px;
}

.our-partners a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 260px;
	height: 178px;
	opacity: 0.2;
}

.our-partners a:hover,
.our-partners a:focus {
	opacity: 1;
	outline: none;
}

.our-partners a:active {
	opacity: 0.1;
}

.our-partners li:nth-of-type(n+2)::before {
	content: "";
	position: absolute;
	top: calc(50% - 25px);
	left: -20px;
	width: 2px;
	height: 50px;
	background-color: #eeeeee;
}

.address {
	position: relative;
	margin-top: 80px;
	background-color: #eeeeee;
	border-top: 1px solid transparent;
}

/*
.address-wrapping {
	position: relative;
	top: 100%;
	width: 1440px;
	height: 416px;
	margin-top: 80px;
	background-color: #eeeeee;
	background-image: url("../img/map-marker.png"), url("../img/map.png");
	background-repeat: no-repeat;
	background-position: 68% 39%;
	border-top: 1px solid transparent;
}
*/

.our-address {
	position: absolute;
	top: 55px;
	left: 380px;
	width: 319px;
	height: 307px;
	padding: 0 50px;
	line-height: 18px;
	color: #666666;
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.our-address strong {
	display: block;
	margin-top: 49px;
}

.our-address p:first-of-type {
	margin-top: 0;
	margin-bottom: 24px;
}

.our-address p:nth-of-type(2) {
	padding-right: 10px;
}

.our-address p:last-of-type {
	margin-top: 17px;
	margin-bottom: 37px;
}

.our-address strong,
.filter legend,
.sorting b,
.hover-info span {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.our-address .btn {
	width: 219px;
	margin: 0;
}

.our-address .btn:hover,
.our-address .btn:focus {
	background-color: #e74246;
	outline: none;
}

.our-address .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	box-shadow: inset 0 3px 0 0 #c13135;
}



.marker {
  position: absolute;
  top: 50px;
  left: 1140px;
	
	width: 231px;
	height: 190px;
	
	background-image: url("../img/map-marker.png");
	z-index: 10;
}


.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 62px;
	margin-bottom: 70px;
	padding: 0;
	list-style: none;
}

.social-icon {
	display: block;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	text-align: center;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-icon a {
	display: block;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	text-align: center;
	border-radius: 50%;
}

.vk-button a {
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.fb-button a {
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.insta-button a {
	background-image: url("../img/insta-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.social-icon:last-of-type a {
	margin-right: 0;
}

.social-icon:hover,
.social-icon:focus {
	background-color: #e74246;
	outline: none;
}

.social-icon:active {
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.social-icon:active a {
	opacity: 0.3;
}

.social-offer {
	flex-shrink: 0;
	margin-left: 130px;
}

.social p {
	display: block;
	margin: 0;
	line-height: 22px;
}

.social b {
	display: block;
	margin: 0;
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.modal-contact-us {
	position: fixed;
	top: calc(50% - 295px);
	left: calc(50% - 480px);
	display: none;
	width: 960px;
	height: 590px;
	padding: 30px 98px 84px;
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 15px 50px;
	box-shadow: 0 15px 50px;
}

.modal-open {
	display: block;
	animation-name: lift;
	animation-duration: 0.8s;
	transition-timing-function: ease-in;
}

@keyframes lift {
	0% {transform: scale(0);}
	40% {transform: scale(1.2);}
	60% {transform: scale(0.8);}
	80% {transform: scale(1.05);}
	90% {transform: scale(0.95);}
	100% {transform: scale(1);}
}

.modal-error {
	display: block;
	animation-name: shake;
	animation-duration: 0.8s;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-contact-us p {
	margin: 0;
	padding: 0;
}

.contact-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.input-message {
	margin-top: 36px;
}

.modal label {
	line-height: 18px;
	font-weight: bold;
}

.modal input {
	width: 356px;
	height: 48px;
	margin: 0;
	padding: 0;
	margin-top: 13px;
	padding: 16px;
	font: inherit;
	line-height: 18px;
	border-radius: 2px;
	border: 2px solid #d7dcde;
	opacity: 0.5;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.modal textarea {
	width: 760px;
	margin-top: 13px;
	padding: 14px;
	font-family: inherit;
	line-height: 18px;
	color: #d7dcde;
	border-radius: 2px;
	border: 2px solid #d7dcde;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0.5;
}

.modal input:hover,
.modal textarea:hover {
	color: #a1a1a1;
	border-color: #b4b9bb;
	opacity: 1;
}

.modal input:focus,
.modal textarea:focus {
	color: #000000;
	border-color: #000000;
	outline: none;
}

.modal input:focus::-webkit-input-placeholder,
.modal textarea:focus::-webkit-input-placeholder{
	color: #000000;
}

.modal input:focus:-ms-input-placeholder,
.modal textarea:focus:-ms-input-placeholder{
	color: #000000;
}

.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
	color: #000000;
}

.modal input:not(:focus):invalid,
.modal textarea:invalid {
	color: #e74246;
	border-color: #e74246;
}

.modal-invalid {
	background-color: pink;
	text-transform: uppercase;
}

.modal .btn {
	width: 260px;
	margin-top: 48px;
	font-family: inherit;
	line-height: 18px;
}

.modal .btn:hover,
.modal .btn:focus {
	background-color: #e74246;
	outline: none;
}

.modal .btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.modal-close {
	position: absolute;
	top: 80px;
	right: 90px;
	width: 21px;
	height: 21px;
	background-color: transparent;
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
	outline: none;
}

.modal-close:active {
	opacity: 0.1;
}

.main-title {
	margin: 0 auto;
	margin-top: 72px;
	padding-bottom: 107px;
	text-align: center;
}

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 55px;
	margin-bottom: -22px;
}

.filter {
	width: 260px;
}

.filter fieldset {
	padding: 0;
	border: none;
}

.price-block {
	margin-bottom: 54px;
}

.price-area {
	position: relative;
	width: 260px;
	height: 80px;
	margin-top: 49px;
	margin-bottom: 14px;
	background-color: #eeeeee;
	border-radius: 2px;
}

.price-area::before {
	position: absolute;
	top: calc(50% - 2px);
	left: 28px;
	width: 211px;
	height: 0;
	border-top: 2px solid #d7dcde;
	content: ""
}

.price-area::after {
	position: absolute;
	top: calc(50% - 2px);
	left: 28px;
	width: 142px;
	height: 0;
	border-top: 2px solid #00ca74;
	content: ""
}

.min-price-button {
	position: absolute;
	top: calc(50% - 12px);
	left: 17px;
	width: 20px;
	height: 23px;
	background-image: url("../img/filter-button.svg");
	z-index: 1;
	cursor: pointer;
}

.max-price-button {
	position: absolute;
	top: calc(50% - 13px);
	left: 159px;
	width: 20px;
	height: 23px;
	background-image: url("../img/filter-button.svg");
	z-index: 1;
	cursor: pointer;
}

.price-block label {
	font: inherit;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.price-block input {
	width: 77px;
	height: 36px;
	margin: 0;
	margin-left: 7px;
	margin-right: 28px;
	font: inherit;
	text-align: center;
	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

.price-block input:last-child {
	margin-right: 0;
}

.filter ul {
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-left: 34px;
	list-style: none;
}

.filter li {
	margin-bottom: 18px;
}

.filter {
	line-height: 22px;
}

.filter fieldset:last-of-type {
	margin-top: 25px;
}

.filter label {
	position: relative;
	cursor: pointer;
	opacity: 0.6;
}

.filter input[type="radio"]~label::before {
	position: absolute;
	top: -2px;
	left: -35px;
	z-index: 1;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	opacity: 0.4;
	content: "";
}

.filter input[type="radio"]:checked~label::before {
	background-image: url("../img/radio-on.svg");
}

.filter input[type="radio"]~label:hover::before,
.filter input[type="radio"]~label:focus::before,
.filter input[type="radio"]~label:hover,
.filter input[type="radio"]~label:focus {
	opacity: 1;
}

.filter input[type="radio"]:disabled~label::before {
	opacity: 0.1;
}

.filter input[type="radio"]:disabled~label {
	opacity: 0.3;
}

.filter input[type="checkbox"]~label::before {
	position: absolute;
	top: -2px;
	left: -35px;
	z-index: 1;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	opacity: 0.4;
	content: "";
}

.filter input[type="checkbox"]:checked~label::before {
	background-image: url("../img/checkbox-on.svg");
}

.filter input[type="checkbox"]~label:hover::before,
.filter input[type="checkbox"]~label:focus::before,
.filter input[type="checkbox"]~label:hover,
.filter input[type="checkbox"]~label:focus {
	opacity: 1;
}

.filter input[type="checkbox"]:disabled~label::before {
	opacity: 0.1;
}

.filter input[type="checkbox"]:disabled~label {
	opacity: 0.3;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
	display: none;
}

.filter-button {
	width: 260px;
	margin-top: 30px;
	background-color: #eeeeee;
	line-height: 18px;
	color: #000000;
	font-weight: 500;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filters .filter-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: -2px;
}

.sorting p {
	margin: 0;
	line-height: 18px;
}

.sorting-items {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sorting-items a {
	font: inherit;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
}

.sorting-items li:nth-of-type(n+2):not(.sorting-up) {
	margin-left: 26px;
}

.sorting-down a {
	display: block;
	margin-left: 22px;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	opacity: 0.2;
}

.sorting-up a {
	display: block;
	margin-left: 18px;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	opacity: 0.2;
}

.sorting-items a:hover,
.sorting-items a:focus {
	opacity: 0.6;
}

.sorting-item-active a,
.sorting-items a:active {
	opacity: 1;
}

.catalog-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 760px;
	margin-top: 17px;
	padding: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
}

.catalog-item::before {
	position: absolute;
	top: -39px;
	width: 360px;
	height: 40px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-image: url("../img/browser.svg");
	opacity: 0.12;
	content: "";
}

.catalog-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 73px;
}

.hover-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 360px;
	text-align: center;
	background-color: #eeeeee;
	visibility: hidden;
}

.hover-info a:first-of-type {
	display: block;
	padding-top: 35px;
	font: inherit;
}

.hover-info p {
	display: block;
	width: 239px;
	margin: auto;
	margin-top: 20px;
	line-height: 18px;
	color: #666666;
	white-space: pre-wrap;
}

.hover-info .btn {
	width: 200px;
	margin: 30px auto 43px;
}

.hover-info .btn:hover,
.hover-info .btn:focus {
	background-color: #e74246;
}

.hover-info .btn:active {
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	box-shadow: inset 0 3px 0 0 #c13135;
}

.catalog-item:hover {
	-webkit-box-shadow: 0 6px 15px #cfcfcf;
	box-shadow: 0 6px 15px #cfcfcf;
}

.catalog-item:hover .hover-info {
	visibility: visible;
}

.catalog-item:hover::before {
	opacity: 1;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 60px;
	padding: 0;
	list-style: none;
}

.pagination-list a {
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 11px;
	font: inherit;
	line-height: 50px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	background-color: #eeeeee;
	border-radius: 2px;
}

.pagination-item-last a {
	width: 260px;
}

.pagination-item-current a {
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
	box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-list a:hover,
.pagination-list a:focus {
	background-color: #dfdfdf;
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}
