body {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
  font-family: 'Roboto', Arial, sans-serif;
}

.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.contact-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.advantage-sait-title,
.advantage-app-title,
.advantage-presentation-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
